
.container {
    margin-top: 5%;
    margin-left:2.5%;
    margin-right:5%;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    margin-bottom: 50px;


    h1 {
        font-size: 40px;
        width: 90%;
        padding: 1%;
        font-family: 'coolvetica';
}


    p { 
        font-size: 16px;
        font-weight: 200;
        font-style: bold;
        line-height: 23px;
        word-spacing: 1px;
        width: 80%;
        color:white;
        font-family: 'Inter', sans-serif;
    }

}

.about1 {
    margin-top:5%;
}


.about-stack {
    width: 50%;
}

.about-pics {
    width: 40%;
}

.about-pics img {
    border-radius: 3rem 10rem 6rem 12rem;
}

.tech-stack {
    max-width:50%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    text-align: center;
   
    .about2 {
        width:20%;
        margin-top: -9%;
        background-color: white;
        color:black;
    }
   
}

.about-bottom {
    color:white;
    margin-top: 45px;
    font-family: 'Inter';
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin-bottom:85px;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
}
.about-work {
    width:40%;
    margin-top:50px;
    border: 1px solid grey;
    border-radius: 14px;
    padding:2.5%;

    h1 {
    font-weight: 200;
    font-size: 21px;

    }
    p {
        font-weight: 400;
        font-size: 12px;
        color:grey;
        line-height: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 1%;
        width: 100%;

        p {
      width: 90%;

         }
    }

    .tech-stack {
        width: 100%;
        margin-top: -5%;
        content: "";
        clear: both;
        display: table;
        // text-align: left;
        padding-left:15%;
        margin-right: 0;
    }

    .tech-stack p {
        width: 90%;
        padding-left: 5%;
    }
    .tech-stack .face {
        padding-left: 4%;
        text-align: center;

    }

}
