.containers {
  width: 100%;
  display: flex;
  flex-direction: row;

    .text-zone {
  margin-top: 3%;
  margin-left: 4.5%;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align:left;
  margin-bottom: 25px;

   
  h1 {
      font-size: 43px;
      width: 60%;
      padding: 1.5%;
      background-color: none ;
      font-family: 'coolvetica';
      color:#ffffe0;
  }

  p {
      font-family:'Montserrat';
      line-height: 1.8em;
      font-weight: 400;
      width: 60%;
      margin-top: 2.5%;
      font-size: 20px;
      animation: pulse 1s;
      animation-delay: 1s;
  }





.contact-form {
    width: 100%;
    margin-top: 50px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        max-width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }

    input[type='text'],
  input[type='email'] {
    border: 0;
    width:100%;
    background: #ffffe0;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 0 20px;
    box-sizing: border-box;
  }
  // input[type='email'] {

  //   width:85%;
  // }

   li.width {
     width: 60%;
   }
  textarea {
    width: 72%;
    border: 0;
    background: #ffffe0;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color:white;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 16px;
    margin-top: 12px;
    border: 1px solid rgb(5, 133, 35);
    float: left;
    border-radius: 4px;
    background: #ffd700;
    text-transform: uppercase;
    float: left;
    // text-align: center;
    margin-right: 10px;
  }
  }

  
}
    }





@media only screen and (max-width: 1200px) {
  .containers {
    display: block;
  
  .text-zone {
    width: 100%;
    display: block;
    float: none;
    margin:0;
    margin-left: 2.5%;

    p {
      width: 90%;

    }

}




}



}
