

header {
    display: flex;
    flex-direction: row;
    height:60px;
    color: white;
    max-width: 48%;
    margin-inline:auto;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter';
    border: 0.08px solid rgb(112, 111, 111);
    border-radius: 15px;


.left_section {
    // color: rgb(42, 210, 81);
    font-size: 14px;
   
}

.left_section #paragraph {
    word-spacing: 10px;
    letter-spacing: 5.5px;
}
// List Navigation Elements


.middle-section2 nav ul {
    min-width:320px;
    display: flex;
    justify-content: flex-start;
}

.middle-section2 nav ul li {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 70px;
  padding: 0 1.5%;
  font-size: 15px;
  font-weight: lighter;
  color: white;
}
a {
    color:white;
}


.right-section2 h2 {
    font: 14px Helvetica, sans-serif;
    border: 2px solid #2F70ED;
    width: 85px;
    border-radius: 10px;
    margin-left: 25px;
    padding: 8% 1%;
    background-color: #2F70ED;
    text-align:center;
    font-size: 14px;
    font-weight: 100;
    color:white;

    &:hover {
     background-color: #255AA8;
    }

    a {
        color: white;
    }
}
.menu-icon {
    display: none;
}
}



section {
    width:100%;
    display: block;
   padding-top:160px;
    padding:0;
    height: 100vh;

}

    @media only screen and (max-width: 1050px) {

    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

    header {
        display: flex;
        max-width:100%;
        height:80px;
        align-items: center;
        flex-direction: row;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid white ;
        margin: 0;
        padding: 0;
        background-color: #0f0e0e;
        color:#0f0e0e;
    
    .left_section {
        width: 65%;
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
        padding-left: 25px;
        position: relative;
    
        #header_2 {
            font-family: 'ReemkufiInk';
        }
    }
     
    .left_section #paragraph {
        word-spacing: 30px;
        letter-spacing: 5.5px;
    }
    
    
    .menu-icon {
        width:25%;
        display: flex;
        justify-content: flex-end;
        background-color: #0f0e0e;
        padding-right: 3%;
        border:none;
        color:white;
        font-size: 28px;
        text-align: right;
    
     
    }   
    .middle_section {
        display: block;
        position: absolute;
        z-index: 1000;
        overflow: none;
        width:100vw;
        height: 80vh;
        top:11vh;
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        background-color: white;
       

        #nav-bar ul {
            display: block;
            margin:0;
            padding:0;
            border:0;
            width:100%;
        }
        
        #nav-bar ul li {
            display: block;
            width:100%;
            margin:0;
            color: #0f0e0e;
            font-weight:600;
            padding:30px;
            font-size:18px;

            a {
                color: #0f0e0e;
            }
            
        }
        
       
          }
        .right_section {
            width:100%;
            display: block;
            margin-top: 175%;
            position: absolute;
            z-index: 1000;

        }
        .middle-section2,.right-section2 {
            display: none;
            width:0;
        }
       
        .nav-2 a {
            display: block;
            border-bottom: 0;
            border-top:0;
            background-color: none;
            // opacity: 0.6;
            // padding-top: -56px;
            // margin-top: -42%;
        }
    
        .right_section {

            padding-left: 6%;
            text-align: left;
           
            vertical-align: middle;
        }
    
        .right_section a {
            color: rgb(15, 15, 15);
            text-decoration: none;
            font-size:18px;
            margin-top: 50px;
            font-weight: 600;
            align-items: left;
    
        }
    
    
        // margin:0;
        // background-color: blue;
        // flex-direction: column;
        // padding:0;
       
    }
    


}


