.footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(57, 56, 56);
    margin:0;
    padding-top:1.5%;
    align-items: center;
    // vertical-align: center;
    // background-color: aqua;
    color: rgb(60, 58, 58);
    font-size: 18px;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 200;
    .bold {
        font-size: 20px;
        font-weight: bolder;
      }
    p {
        width:40%;
        padding-left: 13%;
        text-align: left;
    }
    nav {
        width:30%;
        text-align: right;
        padding-right: 13%;
    }
   nav li {
      list-style-type: none;
      font-size: 32px;
      display: inline-block;
      padding: 10px;

      
     

      a {

        color:grey;

        &:hover svg {
            color: #2F70ED;
        
        }

      }
   }


}


@media only screen and (max-width: 1200px) {

  .footer {
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;

    .bold {
      font-size: 15px;
      font-weight: bold;
    }
    
    p {
      width:35%;
      font-size: 13px;
      padding-left: 5%;
    }

    nav {
      display: flex;
      flex-direction: row;
      width:60%;
      padding-left: 5px;
      padding-right: 2.5%;
      justify-content: flex-end;
      text-align: right;
    }

    nav li {
      list-style-type: none;
      font-size: 22px;
      display:inline-block;
      padding: 8px;
   
  }

}
}
