.footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(57, 56, 56);
    margin:0;
    padding-top:1.5%;
    align-items: center;
    // vertical-align: center;
    // background-color: aqua;
    color: rgb(60, 58, 58);
    font-size: 18px;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 200;
    .bold {
        font-size: 20px;
        font-weight: bolder;
      }
    p {
        width:40%;
        padding-left: 13%;
        text-align: left;
    }
    nav {
        width:30%;
        text-align: right;
        padding-right: 13%;
    }
   nav li {
      list-style-type: none;
      font-size: 32px;
      display: inline-block;
      padding: 10px;

      
     

      a {

        color:grey;

        &:hover svg {
            color: #2F70ED;
        
        }

      }
   }


}

