.blog-container {
    width: 100%;
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    color:white;
    font-family: 'Inter';
    

    h1 {
    padding-top:0;
    font-size: 36px;
    font-weight:bold;
    word-spacing: 0.35em;
    font-family: 'ReemkufiInk';
    }

    h2 {
        font-size: 22px;
        font-weight: 400;
        font-family: 'Montserrat';
    }
 .blog-article {
    display: inline-block;
    width: 65%;
    vertical-align: center;
    padding:3%;

    img {
        width: 25%;
        object-fit: cover;
        height: 30vh;
        padding: 0;
        margin:0;
        border-radius: 14px;
    }

    .blog-words {
          width: 70%;
    }

    .blog-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:2%;
        border: 1px solid grey;
        padding: 2% 2%;
        border-radius: 20px;
    }

    h3 {
       text-align: left;
       font-family: 'Inter', sans-serif;
       font-size: 20px;
       font-weight:300;


        a {
        color:white;

        &:hover {
        text-decoration: underline;
    }
    }
    }

    p {
        font-size: 16px;
        text-align: left;
        padding-bottom: 3%;
        border-spacing: 3%;
        line-height: 22px;
        color:grey;
    }
    p.last-border {
        border-bottom: 0px;
    }


 }
}


@media only screen and (max-width: 1200px) {

    .blog-container {
        padding-top: 0;
        margin-top: -85px;
        display: block;

        h1 {
            padding-top: -120px;
            margin-top: -50px;
        }

        .blog-article {
            display: inline-block;
            width: 95%;
            vertical-align: center;
            padding:5%;
        
          .blog-content img {
                min-width: 100%;
                height: 40vh;
                border-radius: 14px;
            }
            .blog-content h3 {
                font-size: 14px;
                min-width:100%;
                margin:0;
                padding:0;
                
            }
            .blog-words {
                  width: 95%;
                  margin-left:auto;
                  margin-right:auto;
                  margin-top: 25px;
                  font-size: 12px;
            }

            .blog-words p {
                font-size: 13px;
                margin-top: 12px;
            }
        
            .blog-content {
                display: flex;
                width: 100%;
                padding:1.5%;
                flex-direction: column;
                justify-content: center;
                margin-top:5%;
            }
        }
        
    }
    
}